<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <div class="container">
        {{>navbar}}
        <h1>Weather Search</h1>
            <div class="form-group">
                <label for="city">Enter City:</label>
                <input type="text" id="cityName" name="city" placeholder="Enter city name" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" id="submitBtn">
            </div>
        <div class="weather-result" id="weatherResult">
            <p id="today"></p>
            <p id="cityShow"></p>
            <p><span id="tempShow">0</span><sup>o</sup>C</p>
            <p id="tempStatusShow"></p>
        </div>
    </div>

    <!-- <script>
        document.getElementById("weatherForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var city = document.getElementById("city").value;
            // Here you can write JavaScript code to fetch weather data based on the city input and display it in the weather-result div
            // You might need to use an API like OpenWeatherMap or Weatherstack to get weather data
            // For simplicity, I'm leaving this part empty as it requires server-side or API integration
        });
    </script> -->
    <script src="js/main.js"></script>
    <script>
        const currentDate = new Date();
        document.getElementById("today").innerText = `${currentDate.getDate()}/${currentDate.getMonth() + 1}/${currentDate.getFullYear()}`;
    </script>
</body>
</html>
